/build*
*.pro.user
build-*
*__pycache__*
.settings*
WebSite/DjangoProject/lowerspot/settingsProduction.py
WebSite/DjangoProject/static/admin
WebSite/DjangoProject/static/gis
WebSite/DjangoProject/static/rest_framework
WebSite/DjangoProject/media
WebSite/env.prod
*nohup.out
.kdev4
.idea
