{% load static %}

<head>
  <title>Lowerspot - {{ spot.name }}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>

  <h1>{{ spot.name }}</h1>

  {% if picture_list %}
    <ul>
      {% get_static_prefix as STATIC_PREFIX %}
      
      {% for picture in picture_list %}

        <div class="panel panel-default">
          <div class="panel-heading">
            Picture by <a href="{% url 'user' picture.user.id %}">{{ picture.user.username }}</a>
          </div>
          <div class="panel-body">
            <img src="{{ STATIC_PREFIX }}{{ picture.path }}" alt="{{ picture.spot.name }}">
          </div>
        </div>

      {% endfor %}
    </ul>
  {% else %}
    <p>No pictures are available.</p>
  {% endif %}
  
</body>
