
{% extends "spots/base_generic.html" %}

{% block title %}{{ spot.name }}{% endblock %}

{% block content %}

  <h1>{{ spot.name }}</h1>

  {% if picture_list %}
    <ul>
      {% for picture in picture_list %}
        <div class="container">
          <div class="text">
            Picture by <a href="{% url 'user' picture.user.id %}">{{ picture.user.username }}</a>
          </div>
          <div class="container">
            <img src="{{ picture.url }}" class="rounded" alt="{{ picture.spot.name }}">
          </div>
        </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>No pictures are available.</p>
  {% endif %}

{% endblock %}
