{% extends "InstaspotsSpotsBundle::layout.html.twig" %}

{% block title %}
   {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Lowerspot</h2>

  <p>Lowerspot is an application to keep track of your skate spots and search for new ones. The app has a “Secret Spot” feature that permit publishing a spot without revealing its precise position. This is tough to push the contact with local skaters when visiting a foreign city. Contact damiano@lowerspot.com for any question or suggestion. Download on http://lowerspot.com/download</p>

  <h3>News</h3>

  <p>The application starts on the News view. There you can see the last spots that were uploaded on Lowerspot, with no regard of location, uploading user or spot type.</p>

{% endblock %}
