{% extends "InstaspotsSpotsBundle::layout.html.twig" %}

{% block title %}
   {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Lowerspot</h2>

  <p class="lead">Lowerspot is an application to keep track of your skate spots and search for new ones. The app has a “Secret Spot” feature that permit publishing a spot without revealing its precise position. This is tough to push the contact with local skaters when visiting a foreign city. Contact damiano@lowerspot.com for any question or suggestion. Download on http://lowerspot.com/download</p>

  <hr class="featurette-divider">
  
  <div class="row featurette">
      <div class="col-md-7">
        <h3 class="featurette-heading">News</h3>
        
        <p class="lead">The application starts on the News view. There you can see the last spots that were uploaded on Lowerspot, with no regard of location, uploading user or spot type.</p>
      </div>
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src=https://lowerspot.com/web/images/screenshot-news.png alt="">  
      </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src=https://lowerspot.com/web/images/screenshot-nearbySpots.png alt="">  
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Nearby spots</h3>
        
        <p class="lead">The application starts on the News view. There you can see the last spots that were uploaded on Lowerspot, with no regard of location, uploading user or spot type.</p>
      </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
      <div class="col-md-7">
        <h3 class="featurette-heading">Upload</h3>
        
        <p class="lead">The application starts on the News view. There you can see the last spots that were uploaded on Lowerspot, with no regard of location, uploading user or spot type.</p>
      </div>
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src=https://lowerspot.com/web/images/screenshot-upload.png alt="">  
      </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
      <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src=https://lowerspot.com/web/images/screenshot-user.png alt="">  
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">User</h3>
	  
        <p class="lead">The application starts on the News view. There you can see the last spots that were uploaded on Lowerspot, with no regard of location, uploading user or spot type.</p>
      </div>
  </div>
  
{% endblock %}
